In [1]:
import pandas as pd

In [1]:
df=pd.read_excel("./bis.xlsx",index_col="date",parse_dates=True)
df.head(100)

             China
date
1994-01-31   65.81
1994-02-28   66.17
1994-03-31   66.39
1994-04-30   67.56
1994-05-31   68.00
...            ...
2001-12-31   98.33
2002-01-31   99.99
2002-02-28  101.49
2002-03-31   99.19
2002-04-30   98.07

[100 rows x 1 columns]

In [3]:
df=df.resample("Y").mean()
df

                 China
date
1994-12-31   69.414167
1995-12-31   77.384167
1996-12-31   85.590833
1997-12-31   92.204167
1998-12-31   97.636667
1999-12-31   92.795000
2000-12-31   93.206667
2001-12-31   97.470000
2002-12-31   94.970833
2003-12-31   88.220000
2004-12-31   85.516667
2005-12-31   84.622500
2006-12-31   85.760833
2007-12-31   88.811667
2008-12-31   96.434167
2009-12-31  100.826667
2010-12-31   99.999167
2011-12-31  102.579167
2012-12-31  108.713333
2013-12-31  115.720000
2014-12-31  118.445000
2015-12-31  129.485000
2016-12-31  124.643333
2017-12-31  120.987500
2018-12-31  122.555000
2019-12-31  122.035833
2020-12-31  124.730000
2021-12-31  128.743333

In [4]:
df.to_excel("./BIS-RER.xlsx")