# 一交易数据

In [4]:
import tushare as ts

In [12]:
## 1.获取历史数据 
ts.get_hist_data('601998')#获取601998的历史数据
# ts.get_hist_data('601998',start='2016-06-05',end='2016-07-06')#获取指定时间内的历史数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-02-27,5.57,5.61,5.56,5.53,212764.80,0.00,0.00,5.600,5.616,5.590,233060.26,223753.93,221993.51
2020-02-26,5.50,5.63,5.56,5.49,266362.72,0.01,0.18,5.630,5.613,5.608,239541.94,217541.45,222164.38
2020-02-25,5.57,5.59,5.55,5.52,222647.34,-0.09,-1.60,5.640,5.615,5.625,223279.23,205330.68,220749.28
2020-02-24,5.68,5.68,5.64,5.61,214257.56,-0.05,-0.88,5.654,5.618,5.648,214347.23,205428.01,216582.81
2020-02-21,5.71,5.73,5.69,5.66,249268.88,-0.02,-0.35,5.658,5.608,5.665,233188.50,205978.15,213278.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-09-04,6.45,6.52,6.52,6.43,316055.69,0.06,0.93,6.540,6.540,6.540,469947.67,469947.67,469947.67
2017-09-01,6.52,6.55,6.46,6.45,428197.91,-0.07,-1.07,6.545,6.545,6.545,508420.66,508420.66,508420.66
2017-08-31,6.55,6.57,6.53,6.46,509280.78,-0.01,-0.15,6.573,6.573,6.573,535161.58,535161.58,535161.58
2017-08-30,6.63,6.67,6.54,6.50,592239.62,-0.11,-1.65,6.595,6.595,6.595,548101.98,548101.98,548101.98
2017-08-29,6.58,6.66,6.65,6.54,503964.34,0.05,0.76,6.650,6.650,6.650,503964.34,503964.34,503964.34

In [15]:
## 2.获取某股票的上市日期

df = ts.get_stock_basics()
date = df.loc['601998']['timeToMarket']
date

20070427

In [17]:
## 3.复权数据

ts.get_h_data('601998',index=True)

[Getting data:]#

Empty DataFrame
Columns: []
Index: []

In [ ]:
## 4.实时行情

In [18]:
ts.get_today_all()
#changepercent:涨跌幅  trade:现价  settlement:昨日收盘价  volume:成交量  turnoverratio:换手率  amount:成交量  per:市盈率  pb:市净率  mktcap:总市值  nmc:流通市值

[Getting data:]############################################################

,code,name,changepercent,trade,open,high,low,settlement,volume,turnoverratio,amount,per,pb,mktcap,nmc
0,688399,硕世生物,-2.371,86.88,90.00,91.00,86.02,88.99,1180464.0,8.85007,1.034332e+08,59.917,10.215,5.092906e+05,115884.627360
1,688398,赛特新材,-5.411,63.81,67.78,67.99,63.66,67.46,2431392.0,13.35846,1.582987e+08,88.625,12.354,5.104800e+05,116141.474340
2,688396,N华润微,228.203,42.01,50.00,50.20,41.05,12.80,144869399.0,61.09102,6.439887e+09,92.147,6.809,4.923472e+06,996212.486588
3,688389,普门科技,-2.043,22.53,23.65,23.70,22.39,23.00,3483521.0,10.02400,7.978070e+07,107.286,12.657,9.512166e+05,78295.816665
4,688388,嘉元科技,0.015,67.18,69.51,69.91,65.96,67.17,3918077.0,7.03717,2.650052e+08,65.863,6.299,1.551025e+06,374037.132044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3871,600238,ST椰岛,-1.552,4.44,4.50,4.50,4.42,4.51,2989320.0,0.67175,1.329386e+07,49.333,2.978,1.990008e+05,197580.701520
3872,600234,*ST山水,1.528,9.30,9.17,9.33,9.16,9.16,314188.0,0.15520,2.912108e+06,-116.250,29.884,1.882747e+05,188274.668400
3873,600228,ST昌九,-0.344,5.80,5.80,5.87,5.73,5.82,1574917.0,0.65263,9.142288e+06,193.333,24.177,1.399656e+05,139965.600000
3874,600217,中再资环,2.097,6.33,6.25,6.50,6.15,6.20,40515482.0,3.07189,2.557951e+08,27.800,5.085,8.790216e+05,834870.521208
3875,600209,ST罗顿,-0.338,2.95,2.96,3.02,2.95,2.96,2301100.0,0.52416,6.843216e+06,156.915,2.218,1.295083e+05,129508.294855

In [24]:
##5.实时分笔

df = ts.get_realtime_quotes('601998')
# df[['code','name','price','bid','ask','volume','amount','time']] #获取实时分笔后的指定字段
# name，股票名字  open，今日开盘价  pre_close，昨日收盘价  price，当前价格  high，今日最高价  low，今日最低价  bid，竞买价，即“买一”报价
# ask，竞卖价，即“卖一”报    volume，成交量 maybe you need do volume/100  amount，成交金额（元 CNY）  b1_v，委买一（笔数 bid volume）  
# b1_p，委买一（价格 bid price）  b2_v，“买二”  b2_p，“买二”  b3_v，“买三”  b3_p，“买三”  b4_v，“买四”  b4_p，“买四”
# b5_v，“买五”  b5_p，“买五”  a1_v，委卖一（笔数 ask volume）  a1_p，委卖一（价格 ask price）  date，日期    time，时间；
df[['code','name','price','bid','ask','volume','amount','time']]

     code  name  price    bid    ask    volume         amount      time
0  601998  中信银行  5.560  5.550  5.560  21276479  118367942.000  15:00:01

In [25]:
# 6.当日历史分笔
df = ts.get_today_ticks('601998')
df.head(5)

[Getting data:]##################################################

       time  price pchange  change  volume  amount type
0  15:00:01   5.56    0.00    0.00       0       0   买盘
1  15:00:01   5.56    0.00    0.01    1392  773952   卖盘
2  14:57:08   5.55   -0.18    0.00       0       0   卖盘
3  14:57:03   5.55   -0.18    0.00       0       0  中性盘
4  14:56:59   5.55   -0.18    0.00       0       0   买盘

In [26]:
# 7.大盘行情指数
df = ts.get_index()
df

,code,name,change,open,preclose,close,high,low,volume,amount
0,000001,上证指数,0.11,2992.4919,2987.9287,2991.3288,3009.4575,2980.4774,350523658,3959.5564
1,000002,Ａ股指数,0.11,3135.9079,3131.1210,3134.7110,3153.6778,3123.2876,350296536,3957.9938
2,000003,Ｂ股指数,-0.29,240.4893,240.3002,239.6081,242.3546,239.5078,227121,1.5626
3,000008,综合指数,-0.05,2801.7292,2803.4699,2802.1819,2818.1693,2793.0847,71544530,722.8437
4,000009,上证380,0.09,4997.1469,4979.0711,4983.4568,5036.5184,4952.2579,81086138,937.9255
5,000010,上证180,0.32,8605.9030,8586.7782,8614.3238,8667.2263,8592.6801,107710887,1520.5654
6,000011,基金指数,-0.00,6536.6390,6532.2765,6532.2445,6572.0784,6510.1111,171787100,449.5603
7,000012,国债指数,0.06,179.2827,179.2643,179.3736,179.3746,179.2827,440524,4.4080
8,000016,上证50,0.36,2904.8654,2901.6734,2912.0364,2927.1985,2903.7471,42152250,700.1640
9,000017,新综指,0.11,2528.5480,2524.6882,2527.5816,2542.8761,2518.3705,345244015,3673.2926
10,000300,沪深300,0.29,4084.0782,4073.0152,4084.8759,4110.5275,4067.4408,181290981,2820.5021
11,000905,中证500,0.18,5770.2183,5743.3929,5753.7277,5829.0372,5689.5390,204694875,2219.0209
12,399001,深证成指,0.32,11555.8180,11497.5530,11534.0190,11684.4970,11401.3230,55169482361,6546.3201
13,399002,深成指R,0.32,14176.6430,14105.1630,14149.8990,14334.5060,13987.1090,24645026360,3574.8981
14,399003,成份Ｂ指,0.26,5475.3790,5476.7710,5491.1930,5519.5310,5465.0150,10274057,0.4048
15,399004,深证100R,0.15,6429.2600,6402.8950,6412.2710,6487.5100,6366.6390,7403578150,1363.0552
16,399005,中小板指,0.07,7630.3110,7591.8080,7597.1250,7711.4350,7485.8710,25398672118,2864.4455
17,399006,创业板指,0.73,2200.3810,2180.7010,2196.7140,2233.7630,2163.8840,15100950639,2267.2620
18,399008,中小300,-0.00,1463.5120,1456.1840,1456.1140,1478.4430,1435.0650,13577079200,1900.4375
19,399100,新 指 数,0.25,8686.0210,8644.9440,8666.8550,8770.1890,8558.7970,54357007688,6518.2525
20,399101,中小板综,0.20,10843.7640,10790.7540,10812.2640,10946.3250,10660.3220,25398672118,2864.4455
21,399106,深证综指,0.24,1899.6020,1890.6040,1895.1330,1917.8320,1871.6960,55169482361,6546.3201
22,399107,深证Ａ指,0.24,1987.5610,1978.1270,1982.8770,2006.6610,1958.3120,55148187367,6545.5649
23,399108,深证Ｂ指,-0.04,943.8230,943.9980,943.5790,947.5720,940.9730,21294994,0.7552
24,399333,中小板R,0.07,8590.2030,8546.8570,8552.8440,8681.5330,8427.5930,5640250294,1033.6999
25,399606,创业板R,0.73,2321.3870,2300.6250,2317.5180,2356.6040,2282.8830,4028648237,892.5787

In [35]:
# 8.大单交易数据
ts.get_sina_dd('601998','2018-10-11') #默认是400手
# ts.get_sina_dd('601998','2018-10-11',vol=500) #指定大于等于500手的数据

# 二投资参考数据

In [38]:
# 分配预案（每到季报、年报公布的时段，就经常会有上市公司利润分配预案发布，而一些高送转高分红的股票往往会成为市场炒作的热点。及时获取和统计高送转预案的股票是参与热点炒作的关键，TuShare提供了简洁的接口，能返回股票的送转和分红预案情况。）
df = ts.profit_data(top=60)

[Getting data:]##

In [39]:
# 业绩预告（接口提供从1998年以后每年的业绩预告数据，需指定年度、季度两个参数）
ts.forecast_data(2014,2)

[Getting data:]##################################

        code  name type report_date  pre_eps      range
0     000710  贝瑞基因   预亏  2014-08-27  -0.0178          0
1     600710   苏美达   减亏  2014-08-23  -0.1200          0
2     002071  长城影视   预升  2014-08-21   0.0032       6.72
3     000555  神州信息   预升  2014-08-21  -0.0494       36.7
4     600007  中国国贸   预升  2014-08-20   0.2300      23.21
...      ...   ...  ...         ...      ...        ...
2002  601872  招商轮船   预盈  2014-04-10  -0.0291          0
2003  002296  辉煌科技   预增  2014-04-10   0.0573  100%~130%
2004  002266  浙富控股   预降  2014-04-09   0.0900  -50%~-30%
2005  002097  山河智能   预升  2014-04-09   0.1257     0%~50%
2006  300369  绿盟科技   预亏  2014-01-06   0.1300          0

[2007 rows x 6 columns]

In [40]:
# 限售股解禁（以月的形式返回限售股解禁情况，通过了解解禁股本的大小，判断股票上行的压力。可通过设定年份和月份参数获取不同时段的数据。）
ts.xsg_data()
# code：股票代码  name：股票名称  date:解禁日期  count:解禁数量（万股）  ratio:占总盘比率

       code  name        date     count  ratio
0    000605  渤海股份  2020-02-28   7967.11  22.59
1    000703  恒逸石化  2020-02-28  21376.81   7.52
2    002716  ST金贵  2020-02-28   3060.00   3.19
3    300108  吉药控股  2020-02-28    855.00   1.28
4    300212   易华录  2020-02-28    260.32   0.48
..      ...   ...         ...       ...    ...
115  002281  光迅科技  2020-02-03    531.90   0.79
116  002747   埃斯顿  2020-02-03     52.14   0.06
117  002787  华源控股  2020-02-03    687.89   2.21
118  002839  张家港行  2020-02-03  46473.69  25.71
119  002946   新乳业  2020-02-03   3866.71   4.53

[120 rows x 5 columns]

In [41]:
# 基金持股（获取每个季度基金持有上市公司股票的数据）
ts.fund_holdings(2014,4)
# code：股票代码   name：股票名称   date:报告日期   nums:基金家数   nlast:与上期相比（增加或减少了）   count:基金持股数（万股）   clast:与上期相比   amount:基金持股市值   ratio:占流通盘比率

[Getting data:]#######################

,code,name,date,nums,nlast,count,clast,amount,ratio
0,108,4546.12,106,洛阳钼业,39778.53,2014-12-31,0.26,603993,4486.11
1,3,12.10,-5,福斯特,461.95,2014-12-31,0.02,603806,-33.07
2,65,2469.13,50,隆鑫通用,33185.16,2014-12-31,1.20,603766,-1529.92
3,16,113.22,0,东方电缆,2493.21,2014-12-31,0.18,603606,81.83
4,18,1508.28,8,九洲药业,49230.23,2014-12-31,1.88,603456,1441.44
...,...,...,...,...,...,...,...,...,...
1401,9,464.16,8,神州高铁,10253.33,2014-12-31,0.17,000008,272.05
1402,64,2504.67,63,深振业A,17657.91,2014-12-31,1.86,000006,2394.74
1403,10,538.96,8,国农科技,8391.55,2014-12-31,6.42,000004,515.46
1404,446,180963.41,271,万科A,2515391.36,2014-12-31,18.61,000002,34832.63
1405,315,90153.62,234,平安银行,1428033.33,2014-12-31,4.65,000001,38914.23

In [42]:
# 新股数据（获取IPO发行和上市的时间列表，包括发行数量、网上发行数量、发行价格已经中签率信息等。）
ts.new_stocks()
# code：股票代码   name：股票名称   ipo_date:上网发行日期   issue_date:上市日期   amount:发行数量(万股)   markets:上网发行数量(万股)   price:发行价格(元)   pe:发行市盈率   limit:个人申购上限(万股)   funds：募集资金(亿元)   ballot:网上中签率(%)

[Getting data:]#########

,code,xcode,name,ipo_date,issue_date,amount,markets,price,pe,limit,funds,ballot
0,300822,300822,贝仕达克,2020-03-04,NaN,2667,1067,0.00,0.00,1.05,6.286,0.00
1,603353,732353,和顺石油,2020-03-04,NaN,3338,1335,0.00,0.00,1.30,9.276,0.00
2,300819,300819,聚杰微纤,2020-03-03,NaN,2487,987,15.07,22.99,0.95,3.748,0.00
3,300821,300821,东岳硅材,2020-03-03,NaN,30000,9000,0.00,0.00,9.00,20.700,0.00
4,603949,732949,雪龙集团,2020-02-27,NaN,3747,1499,12.66,22.99,1.40,4.744,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
314,603214,732214,爱婴室,2018-03-21,2018-03-30,2500,2250,19.95,22.98,1.00,4.987,0.03
315,300504,300504,天邑股份,2018-03-21,2018-03-30,6685,6017,13.06,22.98,2.55,8.731,0.04
316,600929,730929,湖南盐业,2018-03-14,2018-03-26,15000,13500,3.71,22.99,4.50,5.565,0.08
317,002930,002930,宏川智慧,2018-03-14,2018-03-28,6083,5475,8.53,22.97,2.40,5.189,0.04
318,300634,300634,彩讯股份,2018-03-14,2018-03-23,4001,3601,7.17,22.98,1.20,2.869,0.04

In [51]:
# 融资融券（沪）
ts.sh_margins(start='2019-01-01',end='2019-03-01')
# opDate:信用交易日期    stockCode:标的证券代码   securityAbbr:标的证券简称   rzye:本日融资余额(元)   rzmre: 本日融资买入额(元)   rzche:本日融资偿还额(元)   rqyl: 本日融券余量   rqmcl: 本日融券卖出量    rqchl: 本日融券偿还量

[Getting data:]#Extra data: line 1 column 2 (char 1)
#Extra data: line 1 column 2 (char 1)
#Extra data: line 1 column 2 (char 1)

OSError: 获取失败，请检查网络.

In [49]:
# 融资融券（深）
ts.sz_margins(start='2018-01-01', end='2018-12-19')
# opDate:信用交易日期(index)  rzmre: 融资买入额(元)  rzye:融资余额(元)   rqmcl: 融券卖出量   rqyl: 融券余量   rqye: 融券余量(元)   rzrqye:融资融券余额(元)

[Getting data:]#No tables found
#No tables found
#No tables found
date input error.

# 三 股票分类数据

In [52]:
# 行业分类
ts.get_industry_classified()

        code  name c_name
0     600051  宁波联合   综合行业
1     600209  罗顿发展   综合行业
2     600212  江泉实业   综合行业
3     600256  广汇能源   综合行业
4     600576  祥源文化   综合行业
...      ...   ...    ...
2903  002668  奥马电器   家电行业
2904  002677  浙江美大   家电行业
2905  002681  奋达科技   家电行业
2906  002705  新宝股份   家电行业
2907  002723   金莱特   家电行业

[2908 rows x 3 columns]

In [53]:
# 概念分类
ts.get_concept_classified()

        code   name c_name
0     600007   中国国贸   外资背景
1     600114   东睦股份   外资背景
2     600132   重庆啤酒   外资背景
3     600182    S佳通   外资背景
4     600595   中孚实业   外资背景
...      ...    ...    ...
9437  000815    美利云   摘帽概念
9438  000927   一汽夏利   摘帽概念
9439  002306  *ST云网   摘帽概念
9440  002417    三元达   摘帽概念
9441  002633   申科股份   摘帽概念

[9442 rows x 3 columns]

In [54]:
# 地域分类
ts.get_area_classified()

        code   name area
0     300180   华峰超纤   上海
1     600848   上海临港   上海
2     600708   光明地产   上海
3     603466    风语筑   上海
4     600602   云赛智联   上海
...      ...    ...  ...
3798  002737   葵花药业  黑龙江
3799  601188   龙江交通  黑龙江
3800  600182    S佳通  黑龙江
3801  600178   东安动力  黑龙江
3802  600726  *ST华源  黑龙江

[3803 rows x 3 columns]

In [55]:
# 中小板分类
ts.get_sme_classified()

       code   name
0    002001  新 和 成
1    002002   鸿达兴业
2    002003   伟星股份
3    002004   华邦健康
4    002005  *ST德豪
..      ...    ...
941  002971   和远气体
942  002972    科安达
943  002973   侨银环保
944  002975   博杰股份
945  002976   瑞玛工业

[946 rows x 2 columns]

In [56]:
# 创业板分类
ts.get_gem_classified()

       code  name
0    300001   特锐德
1    300002  神州泰岳
2    300003  乐普医疗
3    300004  南风股份
4    300005   探路者
..      ...   ...
796  300818  耐普矿机
797  300819  聚杰微纤
798  300820  英杰电气
799  300821  东岳硅材
800  300822  贝仕达克

[801 rows x 2 columns]

In [57]:
# 风险警示板分类
ts.get_st_classified()

       code   name
0    000010  *ST美丽
1    000409   ST地矿
2    000410  *ST沈机
3    000422   ST宜化
4    000504  *ST生物
..      ...    ...
135  601558   ST锐电
136  601798   ST蓝科
137  603188   ST亚邦
138  603779   ST威龙
139  603996   ST中新

[140 rows x 2 columns]

In [58]:
# 沪深300成分股及其权重
ts.get_hs300s()

          date    code  name  weight
0   2020-01-23  600000  浦发银行    0.99
1   2020-01-23  600004  白云机场    0.12
2   2020-01-23  600009  上海机场    0.49
3   2020-01-23  600010  包钢股份    0.21
4   2020-01-23  600011  华能国际    0.18
..         ...     ...   ...     ...
295 2020-01-23  300347  泰格医药    0.29
296 2020-01-23  300408  三环集团    0.18
297 2020-01-23  300413  芒果超媒    0.18
298 2020-01-23  300433  蓝思科技    0.20
299 2020-01-23  300498  温氏股份    0.90

[300 rows x 4 columns]

In [61]:
# 上证50成分股
ts.get_sz50s()

read_excel() got an unexpected keyword argument `parse_cols`

In [60]:
# 中证500成分股
ts.get_zz500s()

          date    code  name  weight
0   2020-01-23  600006  东风汽车    0.08
1   2020-01-23  600008  首创股份    0.17
2   2020-01-23  600017   日照港    0.12
3   2020-01-23  600021  上海电力    0.22
4   2020-01-23  600022  山东钢铁    0.20
..         ...     ...   ...     ...
495 2020-01-23  300376   易事特    0.10
496 2020-01-23  300383  光环新网    0.52
497 2020-01-23  300418  昆仑万维    0.30
498 2020-01-23  300459  金科文化    0.11
499 2020-01-23  300529  健帆生物    0.39

[500 rows x 4 columns]

In [62]:
# 终止上市股票列表(有报错 HTTP Error 403: Forbidden)
ts.get_terminated()

Extra data: line 1 column 2 (char 1)

In [63]:
# 停止上市股票列表(有报错 HTTP Error 403: Forbidden)
ts.get_suspended()

Extra data: line 1 column 2 (char 1)

# 四 基本面数据1

In [64]:
# 沪深股票列表
ts.get_stock_basics()
# code,代码  name,名称  industry,所属行业   area,地区   pe,市盈率   outstanding,流通股本(亿)   totals,总股本(亿)   totalAssets,总资产(万)   liquidAssets,流动资产   
# fixedAssets,固定资产   reserved,公积金   reservedPerShare,每股公积金   esp,每股收益   bvps,每股净资   pb,市净率   timeToMarket,上市日期   
# undp,未分利润   perundp, 每股未分配   rev,收入同比(%)   profit,利润同比(%)   gpr,毛利率(%)   npr,净利润率(%)   holders,股东人数

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
688086,N紫晶,软件服务,广东,246.28,0.44,1.90,12.75,9.62,1.20,4.60,...,8.87,8.82,20200226,1.86,0.97,0.00,0.00,48.04,16.59,39649.0
601696,N中银,证券,上海,21.18,2.78,27.78,483.51,0.00,0.68,61.41,...,5.11,1.54,20200226,15.56,0.56,0.00,0.00,0.00,36.36,255189.0
600255,梦舟股份,铜,安徽,0.00,17.70,17.70,40.66,20.28,10.79,11.59,...,1.22,1.22,20001122,-8.36,-0.47,-35.36,-239.42,6.95,-2.10,154795.0
600653,申华控股,汽车服务,上海,0.00,19.46,19.46,81.55,50.54,14.46,3.48,...,1.09,2.07,19901219,-1.69,-0.09,4.74,77.53,7.51,-0.45,174639.0
600162,香江控股,全国地产,深圳,19.75,29.81,33.96,233.33,182.36,7.94,0.15,...,1.50,1.52,19980609,15.86,0.47,-5.79,2.36,53.24,11.16,74995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300822,贝仕达克,元器件,深圳,0.00,0.00,0.00,6.30,4.56,0.55,1.16,...,0.00,0.00,0,2.44,0.00,31.90,46.71,35.38,19.60,0.0
300821,东岳硅材,化工原料,山东,0.00,0.00,0.00,24.98,14.79,6.40,4.21,...,0.00,0.00,0,6.65,0.00,-19.63,-16.59,27.69,20.25,0.0
300819,聚杰微纤,化纤,江苏,0.00,0.00,0.00,6.01,2.73,2.83,1.96,...,0.00,0.00,0,1.66,0.00,0.00,0.00,26.30,11.18,0.0
300216,千山药机,医疗保健,湖南,0.00,2.92,3.61,23.66,9.58,4.17,2.24,...,-6.28,0.00,20110511,-29.24,-8.09,-15.83,-17.28,19.37,-321.83,48186.0
300104,乐视网,互联网,北京,0.00,39.66,39.89,79.24,27.19,2.30,90.48,...,-3.32,0.00,20100812,-265.38,-6.65,-71.69,-584.36,28.36,-2671.50,280736.0

In [65]:
# 业绩报告主表
ts.get_report_data(2018,3)
# code,代码  name,名称   esp,每股收益   eps_yoy,每股收益同比(%)   bvps,每股净资产   roe,净资产收益率(%)   epcf,每股现金流量(元)
# net_profits,净利润(万元)   profits_yoy,净利润同比(%)   distrib,分配方案   report_date,发布日期

[Getting data:]################################################################

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date
0,601696,中银证券,0.27,NaN,NaN,5.66,NaN,66865.20,NaN,NaN,01-31
1,688233,神工股份,0.53,NaN,NaN,24.90,NaN,6267.87,NaN,NaN,01-31
2,300820,英杰电气,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-31
3,300817,双飞股份,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-20
4,300816,艾可蓝,0.90,NaN,NaN,33.74,NaN,5410.87,NaN,NaN,01-15
...,...,...,...,...,...,...,...,...,...,...,...
3786,600675,中华企业,0.17,10.19,NaN,7.65,NaN,81382.93,177.64,NaN,10-12
3787,601636,旗滨集团,0.36,14.06,NaN,13.16,NaN,95915.52,16.27,NaN,10-12
3788,600728,佳都科技,0.07,108.93,NaN,3.48,NaN,11262.05,110.43,NaN,10-11
3789,600231,凌钢股份,0.46,15.00,2.72,18.29,0.61,127694.58,28.21,NaN,10-10
3790,000697,炼石航空,-0.38,11.06,NaN,-15.35,NaN,-21307.29,11.07,NaN,10-09

In [66]:
# 盈利能力数据
ts.get_profit_data(2018,3)
# code,代码   name,名称   roe,净资产收益率(%)   net_profit_ratio,净利率(%)   gross_profit_rate,毛利率(%)   net_profits,净利润(万元)
# esp,每股收益  business_income,营业收入(百万元)   bips,每股主营业务收入(元)

[Getting data:]################################################################

,code,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
0,000912,泸天化,98.84,11.50,22.1065,378.3298,0.2412,3289.2687,2.0977
1,600247,ST成城,79.87,52.69,26.0066,14.7962,0.0439,28.0812,0.0834
2,000707,ST双环,67.47,4.24,2.1024,114.6149,0.2469,2700.7180,5.8186
3,600793,宜宾纸业,59.05,20.20,16.4711,210.1743,1.9959,1040.0066,9.8766
4,000526,紫光学大,49.72,2.91,29.0442,68.3027,0.7100,2344.1444,24.3686
...,...,...,...,...,...,...,...,...,...
3786,300772,运达股份,NaN,-4.09,19.8058,-61.1109,-0.2771,1491.3149,6.7642
3787,300777,中简科技,NaN,37.75,77.0882,45.3817,0.1260,120.2011,0.3338
3788,300781,因赛集团,NaN,14.31,39.1748,43.5268,0.6864,303.9655,4.7939
3789,300790,宇瞳光学,NaN,9.01,23.0509,60.3757,0.7044,669.4689,7.8112
3790,300795,米奥兰特,NaN,10.37,43.2260,24.9131,0.3316,240.2246,3.1977

In [67]:
# 运营能力数据
ts.get_operation_data(2014,3)
# code,代码  name,名称  arturnover,应收账款周转率(次)  arturndays,应收账款周转天数(天)  inventory_turnover,存货周转率(次) 
# inventory_days,存货周转天数(天)   currentasset_turnover,流动资产周转率(次)   currentasset_days,流动资产周转天数(天)

[Getting data:]###############################################

,code,name,arturnover,arturndays,inventory_turnover,inventory_days,currentasset_turnover,currentasset_days
0,600605,汇通能源,5.7747,46.7557,102298.4414,0.0026,3.9518,68.3233
1,002649,博彦科技,3.0000,90.0000,37127.2743,0.0073,1.0532,256.3616
2,002707,众信旅游,20.0313,13.4789,7704.9730,0.0350,3.7006,72.9611
3,002039,黔源电力,7.8636,34.3354,6360.2514,0.0425,2.0979,128.7001
4,300071,华谊嘉信,1.8090,149.2537,3002.9073,0.0899,1.4096,191.5437
...,...,...,...,...,...,...,...,...
2812,000882,华联股份,5.4505,49.5367,NaN,NaN,0.3439,785.1120
2813,600109,国金证券,NaN,NaN,NaN,NaN,NaN,NaN
2814,000892,欢瑞世纪,NaN,NaN,NaN,NaN,0.0000,NaN
2815,601169,北京银行,NaN,NaN,NaN,NaN,NaN,NaN
2816,601288,农业银行,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# 成长能力数据
ts.get_growth_data(2014,4)
# code,代码  name,名称  mbrg,主营业务收入增长率(%)  nprg,净利润增长率(%)  nav,净资产增长率  targ,总资产增长率
# epsg,每股收益增长率  seg,股东权益增长率

[Getting data:]#############################################################

,code,name,mbrg,nprg,nav,targ,epsg,seg
0,600485,*ST信威,1255.8458,12813.6230,2224.1825,2269.7302,529.1589,2138.2204
1,002180,纳思达,250.4530,8827.8740,55.7067,58.7560,1866.6667,51.4794
2,000908,景峰医药,1069.9568,7432.0596,18624.9539,468.2637,4483.3333,19753.3168
3,300049,福瑞股份,23.3120,4540.4789,22.2526,16.5899,1650.0000,16.9712
4,600206,有研新材,393.6011,3504.8742,136.3639,115.6028,600.0000,124.4197
...,...,...,...,...,...,...,...,...
3599,300688,创业黑马,123.7206,NaN,30.1814,73.7513,-566.6667,25.5158
3600,002466,天齐锂业,242.7630,NaN,448.1850,264.9977,-160.0000,241.6762
3601,002136,安纳达,54.3406,NaN,0.5364,-2.3303,-107.1905,0.5499
3602,000710,贝瑞基因,4.3505,NaN,7.4635,8.7224,-211.7141,12.6382
3603,600444,国机通用,-10.4583,NaN,NaN,-7.8498,-775.0000,-584.0396

In [69]:
# 偿债能力数据
ts.get_debtpaying_data(2014,4)
# code,代码  name,名称  currentratio,流动比率   quickratio,速动比率   cashratio,现金比率
# icratio,利息支付倍数   sheqratio,股东权益比率   adratio,股东权益增长率

[Getting data:]##############################################################

,code,name,currentratio,quickratio,cashratio,icratio,sheqratio,adratio
0,002348,高乐股份,73.7949,62.7875,4126.82,-460.766,99.0937,0.9063
1,300223,北京君正,76.4578,72.0846,7053.65,154.016,98.601,1.3990
2,000831,五矿稀土,68.9655,28.1077,1160.26,743.843,98.439,1.5610
3,300191,潜能恒信,78.4102,78.4102,6760.93,-63.9285,97.9164,2.0836
4,002581,未名医药,32.0226,30.205,2537.98,-876.838,97.3901,2.6099
...,...,...,...,...,...,...,...,...
3698,600301,ST南化,0.2968,0.2729,9.7087,-679.9387,-15.2508,115.2508
3699,600715,文投控股,0.3433,0.3433,8.1337,-1088.2228,-22.6131,122.6131
3700,000155,川能动力,0.2267,0.1885,9.42,-1071.2146,-64.9887,164.9887
3701,002015,协鑫能科,0.2268,0.1778,1.3036,-735.377,-139.4,239.4002
3702,600145,*ST新亿,0.1094,0.0208,0.1684,-518288.7826,-4515.94,4615.9358

In [70]:
# 现金流量数据
ts.get_cashflow_data(2014,4)
# code,代码   name,名称   cf_sales,经营现金净流量对销售收入比率   rateofreturn,资产的经营现金流量回报率
# cf_nm,经营现金净流量与净利润的比率   cf_liabilities,经营现金净流量对负债比率   cashflowratio,现金流量比率

[Getting data:]##############################################################

,code,name,cf_sales,rateofreturn,cf_nm,cf_liabilities,cashflowratio
0,600291,西水股份,505.8239,0.5227,61.8624,0.6362,67.1230
1,000712,锦龙股份,38.3489,0.1014,3.2875,0.1374,16.6167
2,000668,荣丰控股,14.8696,0.0954,NaN,0.1629,61.0021
3,300059,东方财富,3.8609,0.3822,14.2629,0.5491,54.9710
4,002961,瑞达期货,2.7908,0.2395,8.6145,0.2939,NaN
...,...,...,...,...,...,...,...
3698,601162,天风证券,NaN,-0.0634,-4.7061,-0.0826,NaN
3699,601236,红塔证券,NaN,0.0779,1.8323,0.1753,NaN
3700,600109,国金证券,NaN,0.1099,3.4524,0.1762,NaN
3701,601916,浙商银行,NaN,0.2220,29.1905,0.2336,NaN
3702,601988,中国银行,NaN,0.0083,0.7162,0.0090,NaN

# 五 宏观经济数据

In [71]:
# 存款利率
ts.get_deposit_rate()

           date            deposit_type  rate
0    2015-10-24                定活两便(定期)    --
1    2015-10-24            定期存款整存整取(半年)  1.30
2    2015-10-24            定期存款整存整取(二年)  2.10
3    2015-10-24           定期存款整存整取(三个月)  1.10
4    2015-10-24            定期存款整存整取(三年)  2.75
..          ...                     ...   ...
541  1989-02-01  零存整取、整存零取、存本取息定期存款(五年)    --
542  1989-02-01  零存整取、整存零取、存本取息定期存款(一年)    --
543  1989-02-01                通知存款(七天)    --
544  1989-02-01                通知存款(一天)    --
545  1989-02-01                协定存款(定期)    --

[546 rows x 3 columns]

In [72]:
# 贷款利率
ts.get_loan_rate()

           date         loan_type   rate
0    2015-10-24       短期贷款(六个月以内)   4.35
1    2015-10-24      短期贷款(六个月至一年)   4.35
2    2015-10-24       中长期贷款(三至五年)   4.75
3    2015-10-24       中长期贷款(五年以上)   4.90
4    2015-10-24       中长期贷款(一至三年)   4.75
..          ...               ...    ...
795  1990-08-21       中长期贷款(五年以上)  11.16
796  1990-08-21       中长期贷款(一至三年)  10.08
797  1990-08-21            贴现(贴现)     --
798  1990-08-21      优惠贷款(扶贫贴息贷款)     --
799  1990-08-21  优惠贷款(老少边穷发展经济贷款)     --

[800 rows x 3 columns]

In [74]:
# 存款准备金率
ts.get_rrr()
# 	•	date :变动日期
# 	•	before :调整前存款准备金率(%)
# 	•	now:调整后存款准备金率(%)
# 	•	changed:调整幅度(%)

          date before    now changed
0   2020-01-01  13.00  12.50   -0.50
1   2019-09-16  13.00  13.00   -0.50
2   2019-01-25  13.50  13.00   -0.50
3   2019-01-15  14.00  13.50   -0.50
4   2018-10-15  15.00  14.00   -1.00
5   2018-07-05  15.50  15.00   -0.50
6   2018-04-25  16.50  15.50   -1.00
7   2016-03-01  17.00  16.50   -0.50
8   2015-10-24  17.50  17.00   -0.50
9   2015-09-06  18.00  17.50   -0.50
10  2015-06-28  18.50  18.00   -0.50
11  2015-04-20  19.50  18.50   -1.00
12  2015-02-05  20.00  19.50   -0.50
13  2012-05-18  20.50  20.00   -0.50
14  2012-02-24  21.00  20.50   -0.50
15  2011-12-05  21.50  21.00   -0.50
16  2011-06-20  21.00  21.50    0.50
17  2011-05-18  20.50  21.00    0.50
18  2011-04-21  20.00  20.50    0.50
19  2011-03-25  19.50  20.00    0.50
20  2011-02-24  19.00  19.50    0.50
21  2011-01-20  18.50  19.00    0.50
22  2010-12-20  18.00  18.50    0.50
23  2010-11-29  17.50  18.00    0.50
24  2010-11-16  17.00  17.50    0.50
25  2010-05-10  16.50  17.00    0.50
26  2010-02-25  16.00  16.50    0.50
27  2010-01-18  15.50  16.00    0.50
28  2008-12-25  16.00  15.50   -0.50
29  2008-12-05  17.00  16.00   -1.00
30  2008-10-15  17.50  17.00   -0.50
31  2008-09-25  17.50  17.50    0.00
32  2008-06-25  17.00  17.50    0.50
33  2008-06-15  16.50  17.00    0.50
34  2008-05-20  16.00  16.50    0.50
35  2008-04-25  15.50  16.00    0.50
36  2008-03-25  15.00  15.50    0.50
37  2008-01-25  14.50  15.00    0.50
38  2007-12-25  13.50  14.50    1.00
39  2007-11-26  13.00  13.50    0.50
40  2007-10-25  12.50  13.00    0.50
41  2007-09-25  12.00  12.50    0.50
42  2007-08-15  11.50  12.00    0.50
43  2007-06-05  11.00  11.50    0.50
44  2007-05-15  10.50  11.00    0.50
45  2007-04-16  10.00  10.50    0.50
46  2007-02-25   9.50  10.00    0.50
47  2007-01-15   9.00   9.50    0.50
48  2006-11-15   8.50   9.00    0.50
49  2006-08-15   8.00   8.50    0.50
50  2006-07-05   7.50   8.00    0.50
51  2004-04-25   7.00   7.50    0.50
52  2003-09-21   6.00   7.00    1.00
53  1999-11-21   8.00   6.00   -2.00
54  1998-03-21  13.00   8.00   -5.00
55  1988-09-30  12.00  13.00    1.00
56  1987-12-31  10.00  12.00    2.00
57  1985-12-31     --  10.00      --

In [75]:
# 货币供应量
ts.get_money_supply()
# 	•	month :统计时间
# 	•	m2 :货币和准货币（广义货币M2）(亿元)
# 	•	m2_yoy:货币和准货币（广义货币M2）同比增长(%)
# 	•	m1:货币(狭义货币M1)(亿元)
# 	•	m1_yoy:货币(狭义货币M1)同比增长(%)
# 	•	m0:流通中现金(M0)(亿元)
# 	•	m0_yoy:流通中现金(M0)同比增长(%)
# 	•	cd:活期存款(亿元)
# 	•	cd_yoy:活期存款同比增长(%)
# 	•	qm:准货币(亿元)
# 	•	qm_yoy:准货币同比增长(%)
# 	•	ftd:定期存款(亿元)
# 	•	ftd_yoy:定期存款同比增长(%)
# 	•	sd:储蓄存款(亿元)
# 	•	sd_yoy:储蓄存款同比增长(%)
# 	•	rests:其他存款(亿元)
# 	•	rests_yoy:其他存款同比增长(%)

,month,m2,m2_yoy,m1,m1_yoy,m0,m0_yoy,cd,cd_yoy,qm,qm_yoy,ftd,ftd_yoy,sd,sd_yoy,rests,rests_yoy
0,2020.1,2023100.00,8.40,545500.00,0.00,93200.00,6.60,--,--,--,--,--,--,--,--,--,--
1,2019.12,1986488.82,8.70,576009.15,4.40,77189.47,5.40,498819.68,--,1410479.67,--,363486.04,--,819161.84,--,227831.79,--
2,2019.11,1961429.56,8.20,562486.52,3.50,73973.82,4.80,488512.70,--,1398943.04,--,367310.58,--,803868.34,--,227764.13,--
3,2019.10,1945600.55,8.40,558143.92,3.30,73395.40,4.70,484748.52,--,1387456.63,--,365733.05,--,801411.52,--,220312.05,--
4,2019.9,1952250.49,8.40,557137.95,3.40,74129.75,4.00,483008.20,--,1395112.54,--,374318.07,--,807437.27,--,213357.20,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,1978.5,--,--,757.93,--,182.17,--,--,--,--,--,--,--,--,--,--,--
501,1978.4,--,--,808.17,--,192.63,--,--,--,--,--,--,--,--,--,--,--
502,1978.3,--,--,827.83,--,194.86,--,--,--,--,--,--,--,--,--,--,--
503,1978.2,--,--,833.35,--,205.89,--,--,--,--,--,--,--,--,--,--,--
504,1978.1,--,--,870.53,--,229.59,--,--,--,--,--,--,--,--,--,--,--

In [76]:
# 货币供应量年底余额
ts.get_money_supply_bal()
# 	•	year :统计年度
# 	•	m2 :货币和准货币(亿元)
# 	•	m1:货币(亿元)
# 	•	m0:流通中现金(亿元)
# 	•	cd:活期存款(亿元)
# 	•	qm:准货币(亿元)
# 	•	ftd:定期存款(亿元)
# 	•	sd:储蓄存款(亿元)
# 	•	rests:其他存款(亿元)

,year,m2,m1,m0,cd,qm,ftd,sd,rests
0,2018,1826744.20,551685.90,73208.40,478477.50,1275058.30,340178.90,721688.60,213190.80
1,2017,1690235.30,543790.10,70645.60,473144.50,1146445.20,320196.20,649341.50,176907.40
2,2016,1550066.70,486557.20,68303.90,418253.40,1063509.40,307989.60,603504.20,152015.60
3,2015,1392278.10,400953.40,63216.60,337736.90,991324.70,288240.70,552073.50,151010.50
4,2014,1228374.80,348056.40,60259.50,287796.90,880318.40,264055.70,508878.10,107384.60
5,2013,1106525.00,337291.10,58574.40,278716.60,769233.90,232696.60,467031.10,69506.20
6,2012,974148.80,308664.20,54659.80,254004.50,665484.60,195940.10,411362.60,58181.90
7,2011,851590.90,289847.70,50748.50,239099.20,561743.20,166616.00,352797.50,42329.70
8,2010,725851.80,266621.50,44628.20,221993.40,459230.30,105858.70,303302.50,50069.10
9,2009,610224.50,221445.80,38247.00,183198.80,388778.70,84819.50,260752.70,43206.50
10,2008,475166.60,166217.10,34219.00,131998.20,308949.50,60103.10,217885.40,30961.10
11,2007,403442.20,152560.10,30375.20,122184.90,250882.10,46932.50,172534.20,31415.40
12,2006,345577.90,126028.10,27072.60,98955.40,219549.90,38715.90,161587.30,19246.70
13,2005,298755.70,107278.80,24031.70,83247.10,191476.90,33100.00,141051.00,17325.90
14,2004,254107.00,95969.70,21468.30,74501.40,158137.20,25382.20,119555.40,13199.70
15,2003,221222.80,84118.60,19745.90,64372.60,137104.30,20940.40,103617.70,12546.20
16,2002,185007.00,70881.80,17278.00,53603.80,114125.20,16433.80,86910.70,10780.70
17,2001,158301.90,59871.60,15688.80,44182.80,98430.30,14180.10,73762.40,10487.80
18,2000,134610.40,53147.20,14652.70,38494.50,81463.20,11261.10,64332.40,5869.70
19,1999,119897.90,45837.30,13455.50,32381.80,74060.60,9476.80,59621.80,4962.00
20,1998,104498.50,38953.70,11204.20,27749.50,65544.90,8301.90,53407.50,3835.50
21,1997,90995.30,34826.30,10177.60,24648.70,56169.00,6738.50,46279.80,3150.70
22,1996,76094.90,28514.80,8802.00,19712.80,47580.10,5041.90,38520.80,4017.40
23,1995,60750.50,23987.10,7885.30,16101.80,36763.40,3324.20,29662.20,3777.00
24,1994,46923.50,20540.70,7288.60,13252.10,26382.80,1943.10,21518.40,2921.30
25,1993,34879.80,16280.40,5864.70,10415.70,18599.40,1247.90,15203.50,2148.00
26,1992,25402.20,11731.50,4336.00,7395.20,13670.70,--,--,--
27,1991,19349.90,8633.30,3177.80,5455.50,10716.60,--,--,--
28,1990,15293.40,6950.70,2644.40,4306.30,8342.70,--,--,--

In [77]:
# 国内生产总值年度
ts.get_gdp_year()
# 	•	year :统计年度
# 	•	gdp :国内生产总值(亿元)
# 	•	pc_gdp :人均国内生产总值(元)
# 	•	gnp :国民生产总值(亿元)
# 	•	pi :第一产业(亿元)
# 	•	si :第二产业(亿元)
# 	•	industry :工业(亿元)
# 	•	cons_industry :建筑业(亿元)
# 	•	ti :第三产业(亿元)
# 	•	trans_industry :交通运输仓储邮电通信业(亿元)
# 	•	lbdy :批发零售贸易及餐饮业(亿元)

,year,gdp,pc_gdp,gnp,pi,si,industry,cons_industry,ti,trans_industry,lbdy
0,2019,990865.0,NaN,NaN,70467.0,386165.0,317109.0,70904.0,534233.0,42802.0,113886.0
1,2018,919281.0,64644.0,NaN,64745.0,364835.0,305160.2,61808.0,489701.0,40550.2,100223.8
2,2017,820754.3,59201.0,NaN,62099.5,332742.7,278328.2,55313.8,425912.1,37172.6,92348.2
3,2016,740060.8,53680.0,NaN,60139.2,296547.7,247877.7,49702.9,383373.9,33058.8,84648.8
4,2015,685992.9,50028.0,NaN,57774.6,282040.3,236506.3,46626.7,346178.0,30487.8,78340.4
...,...,...,...,...,...,...,...,...,...,...,...
63,1956,1028.0,165.0,1028.0,443.9,280.7,224.7,56.0,303.4,46.0,131.4
64,1955,910.0,150.0,910.0,421.0,222.2,191.2,31.0,266.8,39.0,119.8
65,1954,859.0,144.0,859.0,392.0,211.7,184.7,27.0,255.3,38.0,120.3
66,1953,824.0,142.0,824.0,378.0,192.5,163.5,29.0,253.5,35.0,115.5
67,1952,679.0,119.0,679.0,342.9,141.8,119.8,22.0,194.3,29.0,80.3

In [78]:
# 国内生产总值季度
ts.get_gdp_quarter()
# 	•	quarter :季度
# 	•	gdp :国内生产总值(亿元)
# 	•	gdp_yoy :国内生产总值同比增长(%)
# 	•	pi :第一产业增加值(亿元)
# 	•	pi_yoy:第一产业增加值同比增长(%)
# 	•	si :第二产业增加值(亿元)
# 	•	si_yoy :第二产业增加值同比增长(%)
# 	•	ti :第三产业增加值(亿元)
# 	•	ti_yoy :第三产业增加值同比增长(%)

,quarter,gdp,gdp_yoy,pi,pi_yoy,si,si_yoy,ti,ti_yoy
0,2019.4,990865.1,6.1,70466.7,3.1,386165.3,5.7,534233.1,6.9
1,2019.3,697798.3,6.2,43005.0,2.9,277868.5,5.6,376924.8,7.0
2,2019.2,450933.2,6.3,23207.0,3.0,179983.5,5.8,247742.6,7.0
3,2019.1,213432.8,6.4,8769.4,2.7,82346.5,6.1,122316.9,7.0
4,2018.4,900309.5,6.6,64734.0,3.5,366000.9,5.8,469574.6,7.6
...,...,...,...,...,...,...,...,...,...
147,1956.4,1028.0,15.0,443.9,4.7,280.7,34.5,303.4,14.1
148,1955.4,910.0,6.8,421.0,7.9,222.2,7.6,266.8,4.6
149,1954.4,859.0,4.2,392.0,1.7,211.7,15.7,255.3,-0.6
150,1953.4,824.0,15.6,378.0,1.9,192.5,35.8,253.5,27.3
151,1952.4,679.0,NaN,342.9,NaN,141.8,NaN,194.3,NaN

In [79]:
# 三大需求对GDP贡献
ts.get_gdp_for()
# 	•	year :统计年度
# 	•	end_for :最终消费支出贡献率(%)
# 	•	for_rate :最终消费支出拉动(百分点)
# 	•	asset_for :资本形成总额贡献率(%)
# 	•	asset_rate:资本形成总额拉动(百分点)
# 	•	goods_for :货物和服务净出口贡献率(%)
# 	•	goods_rate :货物和服务净出口拉动(百分点)

    year  end_for  for_rate  asset_for  asset_rate  goods_for  goods_rate
0   2018     76.2       5.0       32.4         2.2       -8.6        -0.6
1   2017     57.6       3.9       33.8         2.3        8.6         0.6
2   2016     66.5       4.5       43.1         2.9       -9.6        -0.7
3   2015     59.7       4.1       41.6         2.9       -1.3        -0.1
4   2014     48.8       3.6       46.9         3.4        4.3         0.3
5   2013     47.0       3.6       55.3         4.3       -2.3        -0.1
6   2012     54.9       4.3       43.4         3.4        1.7         0.2
7   2011     61.9       5.9       46.2         4.4       -8.1        -0.8
8   2010     44.9       4.8       66.3         7.1      -11.2        -1.3
9   2009     56.1       5.3       86.5         8.1      -42.6        -4.0
10  2008     44.2       4.3       53.2         5.1        2.6         0.3
11  2007     45.3       6.4       44.1         6.3       10.6         1.5
12  2006     42.0       5.3       42.9         5.5       15.1         1.9
13  2005     54.4       6.2       33.1         3.8       12.5         1.4
14  2004     42.6       4.3       61.6         6.2       -4.2        -0.4
15  2003     35.4       3.6       70.0         7.0       -5.4        -0.6
16  2002     55.6       5.1       39.8         3.6        4.6         0.4
17  2001     49.0       4.1       64.0         5.3      -13.0        -1.1
18  2000     78.1       6.6       22.4         1.9       -0.5         NaN
19  1999     74.7       5.7       23.7         1.8        1.6         0.1
20  1998     57.1       4.4       26.4         2.1       16.5         1.3
21  1997     37.0       3.4       18.6         1.7       44.4         4.2
22  1996     60.1       6.0       34.3         3.4        5.6         0.6
23  1995     44.7       4.9       55.0         6.0        0.3         NaN
24  1994     30.2       4.0       43.8         5.7       26.0         3.4
25  1993     59.5       8.3       78.6        11.0      -38.1        -5.3
26  1992     72.5      10.3       34.2         4.9       -6.8        -1.0
27  1991     65.1       6.0       24.3         2.2       10.6         1.0
28  1990     47.8       1.8        1.8         0.1       50.4         1.9
29  1989     39.6       1.6       16.4         0.7       44.0         1.8
30  1988     49.6       5.6       39.4         4.5       11.0         1.2
31  1987     50.3       5.8       23.5         2.7       26.2         3.1
32  1986     45.0       4.0       23.2         2.0       31.8         2.8
33  1985     85.5      11.5       80.9        10.9      -66.4        -8.9
34  1984     69.3      10.5       40.5         6.2       -9.8        -1.5
35  1983     74.1       8.1       40.4         4.4      -14.5        -1.6
36  1982     64.7       5.9       23.8         2.2       11.5         1.0
37  1981     93.4       4.9       -4.3        -0.2       10.9         0.5
38  1980     71.8       5.6       26.4         2.1        1.8         0.1
39  1979     87.3       6.6       15.4         1.2       -2.7        -0.2
40  1978     39.4       4.6       66.0         7.7       -5.4        -0.6

In [80]:
# 三大产业对GDP拉动
ts.get_gdp_pull()
# 	•	year :统计年度
# 	•	gdp_yoy :国内生产总值同比增长(%)
# 	•	pi :第一产业拉动率(%)
# 	•	si :第二产业拉动率(%)
# 	•	industry:其中工业拉动(%)
# 	•	ti :第三产业拉动率(%)

    year  gdp_yoy   pi   si  industry   ti
0   2019      6.1  NaN  NaN       NaN  NaN
1   2018      6.6  0.3  2.4       2.1  3.9
2   2017      6.8  0.3  2.4       2.1  4.0
3   2016      6.7  0.3  2.6       2.1  3.9
4   2015      6.9  0.3  2.9       2.4  3.7
5   2014      7.3  0.3  3.5       2.9  3.5
6   2013      7.8  0.3  3.8       3.1  3.7
7   2012      7.9  0.4  3.9       3.3  3.5
8   2011      9.6  0.4  5.0       4.4  4.2
9   2010     10.6  0.4  6.1       5.3  4.2
10  2009      9.4  0.4  4.9       3.8  4.1
11  2008      9.6  0.5  4.7       4.2  4.5
12  2007     14.2  0.4  7.1       6.2  6.7
13  2006     12.7  0.6  6.3       5.4  5.8
14  2005     11.3  0.6  5.8       4.9  5.0
15  2004     10.1  0.7  5.2       4.8  4.1
16  2003     10.0  0.3  5.8       5.2  3.9
17  2002      9.1  0.4  4.5       4.0  4.2
18  2001      8.3  0.4  3.9       3.5  4.1
19  2000      8.5  0.4  5.1       4.8  3.1
20  1999      7.6  0.4  4.4       4.2  2.8
21  1998      7.8  0.6  4.8       4.3  2.4
22  1997      9.3  0.6  5.6       5.4  3.1
23  1996     10.0  1.0  6.3       5.9  2.7
24  1995     10.9  1.0  7.0       6.4  2.9
25  1994     13.1  0.9  8.9       8.2  3.3
26  1993     14.0  1.1  9.2       8.3  3.7
27  1992     14.2  1.2  9.2       8.2  3.8
28  1991      9.2  0.6  5.8       5.3  2.8
29  1990      3.8  1.6  1.6       1.5  0.6

In [81]:
# .三大产业贡献率
ts.get_gdp_contrib()
# 	•	year :统计年度
# 	•	gdp_yoy :国内生产总值
# 	•	pi :第一产业献率(%)
# 	•	si :第二产业献率(%)
# 	•	industry:其中工业献率(%)
# 	•	ti :第三产业献率(%)

    year  gdp_yoy    pi    si  industry    ti
0   2018    100.0   4.2  36.1      31.7  59.7
1   2017    100.0   4.8  35.7      31.8  59.6
2   2016    100.0   4.1  38.2      30.8  57.7
3   2015    100.0   4.5  42.5      35.5  53.0
4   2014    100.0   4.6  47.9      39.2  47.5
5   2013    100.0   4.2  48.5      40.5  47.2
6   2012    100.0   5.0  50.0      41.9  45.0
7   2011    100.0   4.1  52.0      45.9  43.9
8   2010    100.0   3.6  57.4      49.6  39.0
9   2009    100.0   4.0  52.3      40.7  43.7
10  2008    100.0   5.2  48.6      43.4  46.2
11  2007    100.0   2.7  50.1      43.8  47.3
12  2006    100.0   4.4  49.7      42.3  45.9
13  2005    100.0   5.2  50.5      43.1  44.3
14  2004    100.0   7.3  51.8      47.6  40.8
15  2003    100.0   3.1  57.9      51.6  39.0
16  2002    100.0   4.1  49.4      44.3  46.5
17  2001    100.0   4.6  46.4      42.0  49.0
18  2000    100.0   4.1  59.6      56.9  36.2
19  1999    100.0   6.0  57.8      55.0  36.2
20  1998    100.0   7.6  60.9      55.4  31.5
21  1997    100.0   6.8  59.7      58.3  33.5
22  1996    100.0   9.6  62.9      58.5  27.5
23  1995    100.0   9.1  64.3      58.5  26.6
24  1994    100.0   6.6  67.9      62.6  25.5
25  1993    100.0   7.9  65.5      59.1  26.6
26  1992    100.0   8.4  64.5      57.6  27.1
27  1991    100.0   7.1  62.8      58.0  30.1
28  1990    100.0  41.7  41.0      39.7  17.3

In [ ]:
# .居民消费价格指数
ts.get_cpi()
	•	month :统计月份
	•	cpi :价格指数

In [82]:
# .工业品出厂价格指数
ts.get_ppi()
# 	•	month :统计月份
# 	•	ppiip :工业品出厂价格指数
# 	•	ppi :生产资料价格指数
# 	•	qm:采掘工业价格指数
# 	•	rmi:原材料工业价格指数
# 	•	pi:加工工业价格指数
# 	•	cg:生活资料价格指数
# 	•	food:食品类价格指数
# 	•	clothing:衣着类价格指数
# 	•	roeu:一般日用品价格指数
# 	•	dcg:耐用消费品价格指数

,month,ppiip,ppi,qm,rmi,pi,cg,food,clothing,roeu,dcg
0,2019.10,98.4,97.4,98.1,94.4,98.5,101.4,104.4,100.6,100.4,98.2
1,2019.9,98.8,98.0,100.6,95.2,98.8,101.1,103.3,100.9,100.8,98.2
2,2019.8,99.2,98.7,102.8,96.5,99.2,100.7,102.6,100.9,100.6,98.0
3,2019.7,99.7,99.3,103.2,97.1,99.8,100.8,102.0,101.3,100.8,98.8
4,2019.6,100.0,99.7,104.5,97.9,100.0,100.9,102.2,101.6,100.5,99.1
...,...,...,...,...,...,...,...,...,...,...,...
317,1993.5,126.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,1993.4,122.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,1993.3,121.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,1993.2,118.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,1993.1,117.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 六 新闻事件数据

In [85]:
# 即时新闻
ts.get_latest_news() #默认是80条新闻 ts.get_latest_news(数字小于八十)
ts.get_latest_news(top=10,show_content=True) #显示十条数据 当show_centent=True 显示新闻内容

list index out of range
list index out of range

In [88]:
# 信息地雷
ts.get_notices()#此处官网是这么写的，但是没有执行结果

In [89]:
# 新浪股吧
ts.guba_sina()

                             title    ptime  rcounts
0                   盯紧科技才是你翻身的最大支柱  今天12:39     78.0
1                  国务院发文要求加强远程医疗服务               0.0
2           外围止跌有利反弹   关注权重与科技热点轮动  今天08:07     77.0
3                         市场依然春寒料峭               0.0
4                    等待一个重要信号出现后低吸  今天08:33     62.0
5                 成交量连破万亿 回调低吸机会显现               0.0
6                          周五会否走低？  今天14:59     75.0
7            科技股反弹稍显乏力 金融冲高回落显资金分歧  今天15:18     77.0
8                    大盘调整这类股受资金青睐！  今天15:40     57.0
9               海南地区空域调整方案27日起正式实施               0.0
10  交通强国第一股---【央地数万亿基建投资清单加速落地一批能源               0.0
11            这有好消息不公布，公司前期没有放消息出来               0.0
12              鸡苗一块多时候没人要，五块钱了开始抢               0.0
13        大型冲压零件就是属于“四门两盖”现在就是等公告了               0.0
14  三安光电荣获国家科学技术进步一等奖中国新闻网01-1015:               0.0
15       前几天我们家先森就让我控制仓位（我昨天嫌他力度不够               0.0
16       新朋股份，强支撑在6元附近 如果在这个地方企稳的话               0.0
17                     科技股大部分市盈率上百               0.0

# 七 龙虎榜数据

In [90]:
# 每日龙虎榜列表
ts.top_list('2018-10-18')
# 	•	code：代码
# 	•	name:名称
# 	•	pchange:当日涨跌幅
# 	•	amount：龙虎榜成交额(万)
# 	•	buy：买入额(万)
# 	•	bratio：买入占总成交比例
# 	•	sell：卖出额(万)
# 	•	sratio：卖出占总成交比例
# 	•	reason：上榜原因
# 	•	date：日期

,code,name,pchange,amount,buy,sell,reason,bratio,sratio,date
0,000007,全新好,10.0346,4356.62,2518.52,1838.10,日涨幅偏离值达到7%的前五只证券,0.22,0.16,2018-10-18
1,000022,深赤湾A,5.8434,2790.37,1772.82,1017.55,日涨幅偏离值达到7%的前五只证券,0.23,0.13,2018-10-18
2,000023,深天地A,10.0198,3870.63,2675.38,1195.25,日涨幅偏离值达到7%的前五只证券,0.46,0.20,2018-10-18
3,000042,中洲控股,-8.6266,5593.32,1532.30,4061.02,连续三个交易日内，跌幅偏离值累计达到20%的证券,0.22,0.58,2018-10-18
4,000301,东方盛虹,-9.9476,7384.53,3621.97,3762.57,日跌幅偏离值达到7%的前五只证券,0.37,0.39,2018-10-18
...,...,...,...,...,...,...,...,...,...,...
83,603790,雅运股份,-9.982,5136.07,2811.06,2325.02,有价格涨跌幅限制的日换手率达到20%的前三只证券,0.08,0.07,2018-10-18
84,603790,雅运股份,-9.982,13718.55,7503.10,6215.45,非ST、*ST和S证券连续三个交易日内收盘价格跌幅偏离值累计达到20%的证券,0.05,0.05,2018-10-18
85,900913,国新B股,-9.9836,30.19,9.72,20.47,有价格涨跌幅限制的日收盘价格跌幅偏离值达到7%的前三只证券,0.33,0.69,2018-10-18
86,900921,丹科B股,-9.973,1.49,0.53,0.96,有价格涨跌幅限制的日收盘价格跌幅偏离值达到7%的前三只证券,0.55,1.00,2018-10-18
87,900953,凯马Ｂ,-9.8619,36.63,10.13,26.50,有价格涨跌幅限制的日收盘价格跌幅偏离值达到7%的前三只证券,0.26,0.68,2018-10-18

In [91]:
# 个股上榜统计
ts.cap_tops()
# 	•	code：代码
# 	•	name:名称
# 	•	count：上榜次数
# 	•	bamount：累积购买额(万)
# 	•	samount：累积卖出额(万)
# 	•	net：净额(万)
# 	•	bcount：买入席位数
# 	•	scount：卖出席位数

[Getting data:]########

       code  name  count    bamount    samount        net  bcount  scount
0    002405  四维图新      2  281776.91  158487.98  123288.93       8       8
1    600536  中国软件      1  186990.30   97918.40   89071.90       5       5
2    002463  沪电股份      2  207803.27  125419.20   82384.06       8       9
3    000016  深康佳A      3  194037.60  138290.85   55746.75      16      18
4    002023  海特高新      2  217566.33  168075.75   49490.58      11      11
..      ...   ...    ...        ...        ...        ...     ...     ...
278  002683  宏大爆破      1   27745.43   57449.65  -29704.21       5       5
279  002436  兴森科技      2   59152.07   92331.13  -33179.06       9      10
280  300618  寒锐钴业      2   55052.14   95415.26  -40363.12       7       3
281  600083  博信股份      4  105532.12  150919.16  -45387.04      18      17
282  603005  晶方科技      1   68201.83  133691.12  -65489.29       7       6

[279 rows x 8 columns]

In [92]:
# 营业部上榜统计
ts.broker_tops()
# 	•	broker：营业部名称
# 	•	count：上榜次数
# 	•	bamount：累积购买额(万)
# 	•	bcount：买入席位数
# 	•	samount：累积卖出额(万)
# 	•	scount：卖出席位数
# 	•	top3：买入前三股票

[Getting data:]#####################################

,broker,count,bamount,bcount,samount,scount,top3
0,沪股通专用,31,170475.29,12,133957.77,19,"闻泰科技,中国软件,巨化股份,"
1,方正证券股份有限公司宁波解放北路证券营业部,6,4268.39,4,2501.38,2,"麦克奥迪,江南高纤,海航创新,"
2,中国银河证券股份有限公司成都科华北路证券营业部,4,3821.62,4,0.00,0,"泉峰汽车,双林股份,通葡股份,"
3,光大证券股份有限公司宁波甬江大道证券营业部,2,5931.49,2,0.00,0,"天风证券,新疆众和"
4,中国银河证券股份有限公司北京安贞门证券营业部,2,625.43,2,0.00,0,"京威股份,通葡股份"
...,...,...,...,...,...,...,...
1448,国元证券股份有限公司上海斜土路证券交易营业部,1,549.76,1,0.00,0,侨银环保
1449,浙商证券股份有限公司宁波四明中路证券营业部,1,515.22,1,0.00,0,侨银环保
1450,中国国际金融股份有限公司上海浦东新区世纪大道证券营业部,1,522.68,1,0.00,0,豫金刚石
1451,中信证券股份有限公司南京双龙大道证券营业部,1,0.00,0,1487.05,1,台基股份
1452,长城国瑞证券有限公司深圳深南大道证券营业部,1,0.00,0,909.15,1,双林股份

In [93]:
# 机构首席追踪
ts.inst_tops()
# 	•	code:代码
# 	•	name:名称
# 	•	bamount:累积买入额(万)
# 	•	bcount:买入次数
# 	•	samount:累积卖出额(万)
# 	•	scount:卖出次数
# 	•	net:净额(万)

[Getting data:]####

       code  name   bamount  bcount   samount  scount       net
0    000016  深康佳A  59595.78       3      0.00       0  59595.78
1    600745  闻泰科技  56929.30       2  10460.20       1  46469.10
2    002371  北方华创  69003.33       7  31558.73       4  37444.60
3    000938  紫光股份  45594.89       4  13939.99       2  31654.90
4    300331  苏大维格  26273.42       3      0.00       0  26273.42
..      ...   ...       ...     ...       ...     ...       ...
146  600126  杭钢股份      0.00       0  20151.10       2 -20151.10
147  603005  晶方科技  18765.17       3  45928.61       3 -27163.44
148  002023  海特高新     21.17       0  30429.83       2 -30408.66
149  000961  中南建设   1834.83       1  32921.12       5 -31086.29
150  300618  寒锐钴业   6951.88       2  60247.78       8 -53295.90

[151 rows x 7 columns]

In [94]:
# 机构成交明细 
ts.inst_detail()
# 	•	code:代码
# 	•	name:名称
# 	•	date:交易日期
# 	•	bamount:机构席位买入额(万)
# 	•	samount:机构席位卖出额(万)
# 	•	type:类型

[Getting data:]######

       code  name        date   bamount   samount                     type
0    603200  上海洗霸  2020-02-27   5832.75   1832.73  连续三个交易日内，涨幅偏离值累计达20%的证券
1    000158  常山北明  2020-02-27   3257.37      0.00               振幅值达15%的证券
2    000716   黑芝麻  2020-02-27    108.98   1215.18              涨幅偏离值达7%的证券
3    603283  赛腾股份  2020-02-27   3307.89   1728.47               振幅值达15%的证券
4    002156  通富微电  2020-02-27  19397.93   8042.34              跌幅偏离值达7%的证券
..      ...   ...         ...       ...       ...                      ...
218  002023  海特高新  2020-02-20     21.17  30429.83              涨幅偏离值达7%的证券
219  002002  鸿达兴业  2020-02-20      0.00   4546.24              涨幅偏离值达7%的证券
220  000955  欣龙控股  2020-02-20    206.88    668.09              跌幅偏离值达7%的证券
221  000936  华西股份  2020-02-20   3172.58   1134.72  连续三个交易日内，涨幅偏离值累计达20%的证券
222  000936  华西股份  2020-02-20   3172.58   1134.72              涨幅偏离值达7%的证券

[223 rows x 6 columns]

# 八 银行间同业拆放利率

In [ ]:


# Shibor拆放利率

# 银行报价数据

# Shibor均值数据

# 贷款基础利率（LPR）

# LPR均值数据

# 九 数据存储

In [ ]:
#  1.csv 格式 
import tushare as ts df = ts.get_hist_data('601998') df.to_csv('C:/Users/lalala/Desktop/Tomato/Hundreds of millions/2018.10.17/c.csv',columns=['open','high','low','close']) # colunms 保存指定的列索引
# 	•	path_or_buf: csv文件存放路径或者StringIO对象
# 	•	sep : 文件内容分隔符，默认为,逗号
# 	•	na_rep: 在遇到NaN值时保存为某字符，默认为’‘空字符
# 	•	float_format: float类型的格式
# 	•	columns: 需要保存的列，默认为None
# 	•	header: 是否保存columns名，默认为True
# 	•	index: 是否保存index，默认为True
# 	•	mode : 创建新文件还是追加到现有文件，默认为新建
# 	•	encoding: 文件编码格式
# 	•	date_format: 日期格式

In [ ]:
# 2.保存excel格式
import tushare as ts
df = ts.get_hist_data('601998')
df.to_excel('C:/Users/lalala/Desktop/Tomato/Hundreds of millions/2018.10.17/e.xlsx',startrow=3,startcol=6) #startrow=3 startcol=6 是指从第三行第六列开始插入数据
# 	•	excel_writer: 文件路径或者ExcelWriter对象
# 	•	sheet_name:sheet名称，默认为Sheet1
# 	•	sep : 文件内容分隔符，默认为,逗号
# 	•	na_rep: 在遇到NaN值时保存为某字符，默认为’‘空字符
# 	•	float_format: float类型的格式
# 	•	columns: 需要保存的列，默认为None
# 	•	header: 是否保存columns名，默认为True
# 	•	index: 是否保存index，默认为True
# 	•	encoding: 文件编码格式
# 	•	startrow: 在数据的头部留出startrow行空行
# 	•	startcol :在数据的左边留出startcol列空列

In [ ]:
#  3.保存成json格式
import tushare as ts 
df = ts.get_hist_data('601998')
df.to_json('C:/Users/lalala/Desktop/Tomato/Hundreds of millions/2018.10.17/j.json')
# 	•	path_or_buf: json文件存放路径
# 	•	orient:json格式顺序，包括columns，records，index，split，values，默认为columns
# 	•	force_ascii: 将字符转ASCII，默认为True

In [ ]:
# 4.保存成HDF5格式
import tushare as ts 
df = ts.get_hist_data('601998')
df.to_hdf('C:/Users/lalala/Desktop/Tomato/Hundreds of millions/2018.10.17/j.h5','601998') # 注意在保存hdf的格式时 ，要在路径后加上查询的股票代码
# 	•	path_or_buf: 文件路径或者HDFStore对象
# 	•	key:HDF5中的group标识
# 	•	mode : 包括 {‘a’追加, ‘w’写入, ‘r’只读, ‘r+’等同于a但文件必须已经存在}, 默认是 ‘a’
# 	•	format:‘fixed(f)|table(t)’,默认‘fixed’，f适合快速读写，不能追加数据 t适合从文件中查找和选择数据
# 	•	append: 适用于table(t)模式追加数据，默认Flase
# 	•	complevel: 压缩级别1-9, 默认0
# 	•	complib: 压缩类型{‘zlib’, ‘bzip2’, ‘lzo’, ‘blosc’, None}默认None