In [3]:
import ipystata

In [14]:
%%stata -o df
use /Users/mac/Stata/chenqiang/grilic.dta,clear
describe
sum

Contains data from /Users/mac/Stata/chenqiang/grilic.dta
  obs:           758
 vars:            12                          1 Feb 2016 09:25
 size:        16,676
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
rns             byte    %8.0g                 south = 1
mrt             byte    %8.0g                 married = 1
smsa            byte    %8.0g                 big cities =1
med             byte    %8.0g                 mother's education
iq              int     %8.0g                 IQ
kww             byte    %8.0g                 KWW
age             byte    %8.0g                 age
s               byte    %8.0g                 schooling
expr            float   %9.0g                 experience
tenure          byte    %8.0g                 tenure
lnw             float   %9.0g                 ln(wage)
wage            float   %9.0g                 wage
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by:

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
         rns |        758    .2691293    .4438001          0          1
         mrt |        758    .5145119    .5001194          0          1
        smsa |        758    .7044855     .456575          0          1
         med |        758    10.91029     2.74112          0         18
          iq |        758    103.8562    13.61867         54        145
-------------+---------------------------------------------------------
         kww |        758    36.57388    7.302247         12         56
         age |        758    21.83509    2.981756         16         30
           s |        758    13.40501    2.231828          9         18
        expr |        758    1.735429    2.105542          0     11.444
      tenure |        758    1.831135     1.67363          0         10
-------------+---------------------------------------------------------
         lnw |        758    5.686739    .4289494      4.605      7.051
        wage |        758    323.9161    148.6858   99.98299   1154.012

In [9]:
df.describe()

,rns,mrt,smsa,med,iq,kww,age,s,expr,tenure,lnw,wage
count,758.000000,758.000000,758.000000,758.00000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000
mean,0.269129,0.514512,0.704485,10.91029,103.856201,36.573879,21.835092,13.405013,1.735429,1.831135,5.686738,323.916138
std,0.443800,0.500119,0.456575,2.74112,13.618666,7.302247,2.981756,2.231828,2.105542,1.673630,0.428949,148.685760
min,0.000000,0.000000,0.000000,0.00000,54.000000,12.000000,16.000000,9.000000,0.000000,0.000000,4.605000,99.982986
25%,0.000000,0.000000,0.000000,9.00000,95.250000,32.000000,20.000000,12.000000,0.281500,1.000000,5.380000,217.022293
50%,0.000000,1.000000,1.000000,12.00000,104.000000,37.000000,22.000000,12.000000,0.960000,1.000000,5.684000,294.123566
75%,1.000000,1.000000,1.000000,12.00000,113.750000,41.000000,24.000000,16.000000,2.440000,2.000000,5.991000,399.814301
max,1.000000,1.000000,1.000000,18.00000,145.000000,56.000000,30.000000,18.000000,11.444000,10.000000,7.051000,1154.012329

In [16]:
%%stata 
sum lnw,detail

no variables defined
r(111);

end of do-file
r(111);