这个表要包括销售额、客流量、客单价这三个指标的本月累计、上月同期、去年同期、环比、同比这几个数值。

In [ ]:
# 指标说明

- 销售额=单价$\times$销量
- 客流量=订单ID去重计数 
- 客单价=销售额/客流量
- 本月=2018 年 2 月
- 上月=2018 年 1 月
- 去年同期=2017 年 2 月

In [52]:
import pandas as pd 
import numpy as np
from datetime import datetime 
from dateutil.parser import parse

In [156]:
df = pd.read_csv("./Excel-Python-DA/order-14.1.csv", encoding='gbk', parse_dates=['成交时间']).dropna(how='all')
df #parse_dates参数表示将数据解析为时间格式。

,商品ID,类别ID,门店编号,单价,销量,成交时间,订单ID
0,30006206.0,915000003.0,CDNL,25.23,0.328,2018-01-01,20170103CDLG000210052759
1,30163281.0,914010000.0,CDNL,2.00,2.000,2018-01-02,20170103CDLG000210052759
2,30200518.0,922000000.0,CDNL,19.62,0.230,2018-01-03,20170103CDLG000210052759
3,29989105.0,922000000.0,CDNL,2.80,2.044,2018-01-04,20170103CDLG000210052759
4,30179558.0,915000100.0,CDNL,47.41,0.226,2018-01-05,20170103CDLG000210052759
...,...,...,...,...,...,...,...
3473,30031870.0,915030401.0,CDXL,6.58,0.862,2017-02-11,20170103CDLG000510025147
3474,30008276.0,911010501.0,CDXL,15.42,0.481,2017-02-12,20170103CDLG000510025148
3475,30033854.0,910000000.0,CDXL,9.62,1.000,2017-02-13,20170103CDLG000510025149
3476,30206214.0,910000000.0,CDXL,15.62,1.000,2017-02-14,20170103CDLG000510025150
3477,30129510.0,925090000.0,CDXL,23.21,0.312,2017-02-15,20170103CDLG000510025151

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3478 entries, 0 to 3477
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   商品ID    3478 non-null   float64
 1   类别ID    3478 non-null   float64
 2   门店编号    3478 non-null   object
 3   单价      3478 non-null   float64
 4   销量      3478 non-null   float64
 5   成交时间    3478 non-null   datetime64[ns]
 6   订单ID    3478 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 217.4+ KB

## 傻算

### 计算本月相关指标

In [27]:
df_this_month = df[(df['成交时间']>=datetime(2018,2,1))&(df['成交时间']<=datetime(2018,2,28))]
df_this_month

,商品ID,类别ID,门店编号,单价,销量,成交时间,订单ID
1248,30005122.0,914000000.0,CDLG,4.52,1.000,2018-02-01,20170103CDLG000310077151
1249,30214801.0,925090000.0,CDLG,27.41,0.544,2018-02-02,20170103CDLG000310077151
1250,30005122.0,914000000.0,CDLG,4.52,1.000,2018-02-03,20170103CDLG000310077151
1251,29989059.0,922000003.0,CDLG,1.98,0.909,2018-02-04,20170103CDLG000310077151
1252,29989059.0,922000003.0,CDLG,1.98,0.960,2018-02-05,20170103CDLG000310077151
...,...,...,...,...,...,...,...
2491,29989072.0,922000002.0,CDXL,0.78,1.667,2018-02-28,20170103CDLG000410056500
2492,29989072.0,922000002.0,CDXL,0.78,2.051,2018-02-28,20170103CDLG000410056500
2493,30023041.0,923000006.0,CDXL,3.20,0.754,2018-02-27,20170103CDLG000410056500
2494,29989059.0,922000003.0,CDXL,1.98,0.960,2018-02-01,20170103CDLG000410056500
2495,29989059.0,922000003.0,CDXL,1.98,1.212,2018-02-01,20170103CDLG000410056500

In [26]:
本月销售额 = (df_this_month['单价']*df_this_month['销量']).sum()
本月销售额

10412.78007

In [36]:
客流量 = df_this_month['订单ID'].drop_duplicates().count()
客流量

343

In [37]:
客单价 = 本月销售额/客流量
客单价.round(2)

30.36

### 计算上月相关指标

In [33]:
last_month = df[(df['成交时间']>=datetime(2018,1,1))&(df['成交时间']<=datetime(2018,1,31))]
last_month

上月销售额 = (last_month['单价']*last_month['销量']).sum()
上月销售额

上月客流量 = last_month['订单ID'].drop_duplicates().count()
上月客流量

上月客单价 = 上月销售额/上月客流量
上月客单价.round(2)

,商品ID,类别ID,门店编号,单价,销量,成交时间,订单ID
0,30006206.0,915000003.0,CDNL,25.23,0.328,2018-01-01,20170103CDLG000210052759
1,30163281.0,914010000.0,CDNL,2.00,2.000,2018-01-02,20170103CDLG000210052759
2,30200518.0,922000000.0,CDNL,19.62,0.230,2018-01-03,20170103CDLG000210052759
3,29989105.0,922000000.0,CDNL,2.80,2.044,2018-01-04,20170103CDLG000210052759
4,30179558.0,915000100.0,CDNL,47.41,0.226,2018-01-05,20170103CDLG000210052759
...,...,...,...,...,...,...,...
1243,29989072.0,922000002.0,CDLG,0.78,2.282,2018-01-28,20170103CDLG000310077149
1244,30023194.0,922000008.0,CDLG,13.60,0.415,2018-01-29,20170103CDLG000310077149
1245,30001586.0,910020302.0,CDLG,5.52,1.000,2018-01-30,20170103CDLG000310077150
1246,30001586.0,910020302.0,CDLG,4.42,2.000,2018-01-01,20170103CDLG000310077150
1247,29989089.0,922000000.0,CDLG,11.58,0.092,2018-01-01,20170103CDLG000310077151

## 函数式编程

### 按需提取并计算

In [158]:
def get_df(df, y, m):
    df['年'] = df['成交时间'].apply(lambda x: x.strftime('%Y'))
    df['月'] = df['成交时间'].apply(lambda x: x.strftime('%m'))
    need_month = df[(df['年'] == str(y)) & (df['月'] == str(m))]
    return need_month

get_df(df,2018,'02')

,商品ID,类别ID,门店编号,单价,销量,成交时间,订单ID,年,月
1248,30005122.0,914000000.0,CDLG,4.52,1.000,2018-02-01,20170103CDLG000310077151,2018,02
1249,30214801.0,925090000.0,CDLG,27.41,0.544,2018-02-02,20170103CDLG000310077151,2018,02
1250,30005122.0,914000000.0,CDLG,4.52,1.000,2018-02-03,20170103CDLG000310077151,2018,02
1251,29989059.0,922000003.0,CDLG,1.98,0.909,2018-02-04,20170103CDLG000310077151,2018,02
1252,29989059.0,922000003.0,CDLG,1.98,0.960,2018-02-05,20170103CDLG000310077151,2018,02
...,...,...,...,...,...,...,...,...,...
2491,29989072.0,922000002.0,CDXL,0.78,1.667,2018-02-28,20170103CDLG000410056500,2018,02
2492,29989072.0,922000002.0,CDXL,0.78,2.051,2018-02-28,20170103CDLG000410056500,2018,02
2493,30023041.0,923000006.0,CDXL,3.20,0.754,2018-02-27,20170103CDLG000410056500,2018,02
2494,29989059.0,922000003.0,CDXL,1.98,0.960,2018-02-01,20170103CDLG000410056500,2018,02
2495,29989059.0,922000003.0,CDXL,1.98,1.212,2018-02-01,20170103CDLG000410056500,2018,02

In [159]:
def jisuan(df):
    xiaoshoue = (df['单价']*df['销量']).sum()
    traffic = df['订单ID'].drop_duplicates().count()
    danjia = xiaoshoue/traffic
    print("该年的销售额为:%.2f" %xiaoshoue)
    print("该年的客流量为:%u" %traffic)
    print("该年的客单价为:%.2f" %danjia)
#     return xiaoshoue,traffic,danjia

In [160]:
df_201802 = get_df(df,2018,'02')

jisuan(df_201802)

该年的销售额为:10412.78
该年的客流量为:343
该年的客单价为:30.36

### 统一处理并生成报告

In [140]:
def jisuan(df):
    xiaoshoue = (df['单价']*df['销量']).sum()
    traffic = df['订单ID'].drop_duplicates().count()
    danjia = xiaoshoue/traffic
    return xiaoshoue,traffic,danjia

In [144]:
sale_1,traffic_1,s_t_1 = jisuan(get_df(df,2018,'02'))

sale_2,traffic_2,s_t_2 = jisuan(get_df(df,2018,'01'))

sale_3,traffic_3,s_t_3 = jisuan(get_df(df,2017,'02'))

In [149]:
report = pd.DataFrame([[sale_1,sale_2,sale_3],
                       [traffic_1,traffic_2,traffic_3],
                       [s_t_1,s_t_2,s_t_3]],
                      columns=['本月累计','上月同期','去年同期'],
                      index=['销售额','客流量','客单价'])
report

             本月累计         上月同期         去年同期
销售额  10412.780070  9940.972910  8596.313470
客流量    343.000000   315.000000   262.000000
客单价     30.357959    31.558644    32.810357

### 添加环比

In [152]:
report['环比']= report['本月累计']/report['上月同期']-1
report

             本月累计         上月同期         去年同期        环比
销售额  10412.780070  9940.972910  8596.313470  0.047461
客流量    343.000000   315.000000   262.000000  0.088889
客单价     30.357959    31.558644    32.810357 -0.038046

### 添加同比

In [153]:
report['同比']= report['本月累计']/report['去年同期']-1
report

             本月累计         上月同期         去年同期        环比        同比
销售额  10412.780070  9940.972910  8596.313470  0.047461  0.211308
客流量    343.000000   315.000000   262.000000  0.088889  0.309160
客单价     30.357959    31.558644    32.810357 -0.038046 -0.074745

### 文件导出

In [154]:
report.to_excel('./Excel-Python-DA/myreport.xlsx')